<a href="https://colab.research.google.com/github/skredenmathias/DS-Unit-2-Build/blob/master/Build_Week_Unit_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading in datasets

In [1]:
import pandas as pd
# Remember to upload data to unit 2 build
!git clone https://github.com/skredenmathias/DS-Unit-1-Build.git
path = '/content/DS-Unit-1-Build/'

Cloning into 'DS-Unit-1-Build'...
remote: Enumerating objects: 35, done.
remote: Counting objects: 100% (35/35), done.
remote: Compressing objects: 100% (34/34), done.
remote: Total 35 (delta 11), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (35/35), done.

In [2]:
year_2016 = pd.read_excel(path+'2016 complete match data OraclesElixir 2018-12-18.xlsx')
year_2016.shape

(19824, 84)

In [3]:
year_2017 = pd.read_excel(path+'2017matchdataOraclesElixir.xlsx')
year_2017.shape

(37404, 98)

In [4]:
spring_2018 = pd.read_excel(path+'2018-spring-match-data-OraclesElixir-2018-05-20.xlsx')
spring_2018.shape

(15900, 98)

In [5]:
summer_2018 = pd.read_excel(path+'2018 summer match data OraclesElixir 2018-09-27.xlsx')
summer_2018.shape

(16188, 98)

In [6]:
worlds_2018 = pd.read_excel(path+'2018-worlds-match-data-OraclesElixir-2018-11-03.xlsx')
worlds_2018.shape

(1428, 98)

In [7]:
spring_2019 = pd.read_excel(path+'2019-spring-match-data-OraclesElixir-2019-05-21.xlsx')
spring_2019.shape

(12864, 98)

In [8]:
summer_2019 = pd.read_excel(path+'2019-summer-match-data-OraclesElixir-2019-09-16.xlsx')
summer_2019.shape

(12612, 98)

In [12]:
worlds_2019 = pd.read_excel(path+'2019-summer-match-data-OraclesElixir-2019-11-10.xlsx')
worlds_2019.shape

(1428, 98)

# Merging dataframes

In [13]:
# Merging dataframes 1/2
dfs = [year_2017, spring_2018, summer_2018, worlds_2018, spring_2019, summer_2019, worlds_2019]
# Not including year_2016 due to several missing columns

# Concatenating
test = pd.concat(dfs)
test.shape

(97824, 98)

# Data Cleaning

In [14]:
def wrangle(X):
  X = X.copy()

  excess_columns = ['url','date','week', 'playerid','position','player','champion','ban1','ban2','ban3','ban4','ban5','k','d','a','doubles','triples','quadras','pentas','fb','fbassist', 'fbvictim', 'kpm','okpm',
                       'fd','heraldtime','dmgtochamps','dmgshare','earnedgoldshare','wards','wardshare','wardkills','visionwards','visionwardbuys','visiblewardclearrate','invisiblewardclearrate','totalgold','minionkills',
                       'monsterkills', 'monsterkillsownjungle','monsterkillsenemyjungle','goldat10','oppgoldat10','goldat15','oppgoldat15','xpat10','oppxpat10','csat10','oppcsat10','csat15','oppcsat15']
  X = X.drop(columns = excess_columns)
  return X

df = wrangle(test)
df.shape

(97824, 47)

In [15]:
# Removing excess drake columns, and HERALD

def wrangle2(X):
  X = X.copy()

  difficult_columns = ['elementals','oppelementals','firedrakes','waterdrakes',
                       'earthdrakes','airdrakes', 'herald']
  X = X.drop(columns = difficult_columns)
  return X

df = wrangle2(df)
df.shape

(97824, 40)

In [16]:
# Remove LPL games from dataframe, due to excess NaN values
LPL1 = df['league'] == 'LPL'
LPL = df[LPL1]

df = pd.concat([df, LPL]).drop_duplicates(keep=False)
df.shape

(75396, 40)

In [17]:
# Remove rows with NaN values
df = df.copy()
df = df.dropna()
df.shape

(72238, 40)

# Data Exploration

In [18]:
df.head(10)

       gameid league   split game  ...  gdat15 xpdat10 csdat10  csdat15
0  1002300127  NALCS  2017-2    3  ...   123.0    -8.0     5.0     14.0
1  1002300127  NALCS  2017-2    3  ...  -756.0   -27.0     0.0    -17.0
2  1002300127  NALCS  2017-2    3  ... -1050.0   -81.0     1.0     -1.0
3  1002300127  NALCS  2017-2    3  ... -1057.0   157.0    -7.0    -16.0
4  1002300127  NALCS  2017-2    3  ... -1114.0  -223.0     3.0      5.0
5  1002300127  NALCS  2017-2    3  ...  -123.0     8.0    -5.0    -14.0
6  1002300127  NALCS  2017-2    3  ...   756.0    27.0     0.0     17.0
7  1002300127  NALCS  2017-2    3  ...  1050.0    81.0    -1.0      1.0
8  1002300127  NALCS  2017-2    3  ...  1057.0  -157.0     7.0     16.0
9  1002300127  NALCS  2017-2    3  ...  1114.0   223.0    -3.0     -5.0

[10 rows x 40 columns]

In [19]:
df['split'].value_counts()

2017-2      12048
2017-1      11760
2018-1      10296
2018-2       9142
2019-1       7752
2019-2       6552
2017-2po     1464
2018-2p      1452
2018-1P      1440
2017-W       1380
2019-W       1380
2017-1po     1344
2018-W       1344
2019-2P      1008
2017-2pr      900
2019-1P       864
2017-2rq      564
2018-2rq      540
2019-2RQ      528
2017-1pr      480
Name: split, dtype: int64

# Reducing dimensionality

## Grouping by 'gameid'

In [20]:
x = df.groupby(['gameid','team'])['result'].mean()
x = x.reset_index()
x.columns = ['gameid','team','avg_result']
x.head()

   gameid         team  avg_result
0     136  Tempo Storm           1
1     136      eUnited           0
2     143    Delta Fox           1
3     143   Team Gates           0
4     144  Tempo Storm           0

In [21]:
df.columns

Index(['gameid', 'league', 'split', 'game', 'patchno', 'side', 'team',
       'gamelength', 'result', 'teamkills', 'teamdeaths', 'fbtime', 'ckpm',
       'fdtime', 'teamdragkills', 'oppdragkills', 'elders', 'oppelders', 'ft',
       'fttime', 'firstmidouter', 'firsttothreetowers', 'teamtowerkills',
       'opptowerkills', 'fbaron', 'fbarontime', 'teambaronkills',
       'oppbaronkills', 'dmgtochampsperminute', 'wpm', 'wcpm', 'earnedgpm',
       'goldspent', 'gspd', 'cspm', 'gdat10', 'gdat15', 'xpdat10', 'csdat10',
       'csdat15'],
      dtype='object')

## Grouping by 'gameid', 'team', and 'split

In [0]:
# Here we have average values per team, per game.
# NOTE: We lose all non-numeric columns, some of which are intesesting:
# Note: added 'split' to groupby.
y = df.groupby(['gameid','team', 'split'])['league', 'game', 'patchno', 'side',
       'gamelength', 'result', 'teamkills', 'teamdeaths', 'fbtime', 'ckpm',
       'fdtime', 'teamdragkills', 'oppdragkills', 'elders', 'oppelders', 'ft',
       'fttime', 'firstmidouter', 'firsttothreetowers', 'teamtowerkills',
       'opptowerkills', 'fbaron', 'fbarontime', 'teambaronkills',
       'oppbaronkills', 'dmgtochampsperminute', 'wpm', 'wcpm', 'earnedgpm',
       'goldspent', 'gspd', 'cspm', 'gdat10', 'gdat15', 'xpdat10', 'csdat10',
       'csdat15'].mean()
       
y = y.reset_index()
y.columns = ['gameid','team','split','patchno',
       'gamelength', 'result', 'teamkills', 'teamdeaths',
       'fdtime', 'teamdragkills', 'oppdragkills', 'elders', 'oppelders', 'ft',
       'fttime', 'firstmidouter', 'teamtowerkills',
       'opptowerkills', 'fbaron', 'fbarontime', 'teambaronkills',
       'oppbaronkills', 'dmgtochampsperminute', 'wpm', 'wcpm', 'earnedgpm',
       'goldspent', 'gspd', 'cspm', 'gdat10', 'gdat15', 'xpdat10', 'csdat10',
       'csdat15']

In [23]:
print("y shape: ", y.shape) # 6 columns lost: league, game, side,
# fbtime, ckpm, firsttothreetowers
print('df shape: ', df.shape)
y.head()

y shape:  (12038, 34)
df shape:  (72238, 40)

   gameid         team   split  ...     xpdat10   csdat10   csdat15
0     136  Tempo Storm  2017-1  ...  302.666667  7.000000 -2.333333
1     136      eUnited  2017-1  ... -302.666667 -7.000000  2.333333
2     143    Delta Fox  2017-1  ... -128.333333 -5.666667 -7.666667
3     143   Team Gates  2017-1  ...  128.333333  5.666667  7.666667
4     144  Tempo Storm  2017-1  ...  442.000000  4.000000 -1.666667

[5 rows x 34 columns]

## Removing 'gameid' -> possible final baseline dataframe

In [24]:
# Now it's getting interesting.

final_df1 = y.drop('gameid', axis=1)

final_df1 = final_df1.groupby(['team', 'split']).mean()
final_df1 = final_df1.reset_index()
final_df1.columns = ['team','split','patchno',
       'gamelength', 'result', 'teamkills', 'teamdeaths',
       'fdtime', 'teamdragkills', 'oppdragkills', 'elders', 'oppelders', 'ft',
       'fttime', 'firstmidouter', 'teamtowerkills',
       'opptowerkills', 'fbaron', 'fbarontime', 'teambaronkills',
       'oppbaronkills', 'dmgtochampsperminute', 'wpm', 'wcpm', 'earnedgpm',
       'goldspent', 'gspd', 'cspm', 'gdat10', 'gdat15', 'xpdat10', 'csdat10',
       'csdat15']
print(final_df1.shape)
final_df1.head() # Consider removing gameid / groupby gameid also
# Here we see each team's averages per split.

(728, 33)

          team    split   patchno  ...     xpdat10   csdat10   csdat15
0  100 Thieves   2018-1  8.028947  ...   58.508772 -1.017544 -2.175439
1  100 Thieves  2018-1P  8.050000  ...  114.333333  2.083333  1.708333
2  100 Thieves   2018-2  8.133333  ...   48.851852 -2.981481 -2.074074
3  100 Thieves  2018-2p  8.160000  ...   38.194444 -2.111111 -6.527778
4  100 Thieves   2018-W  8.190000  ... -164.200000 -4.666667 -8.266667

[5 rows x 33 columns]

## Grouping by 'team' and 'patchno -> possible final baseline dataframe

In [25]:
# This could also be our final baseline groupby (minus results column)
y.groupby(['team', 'patchno']).mean()

                           gameid  gamelength  ...   csdat10   csdat15
team        patchno                            ...
100 Thieves 8.01     1.002440e+09   46.612500  ... -1.333333  0.916667
            8.02     1.002450e+09   40.370833  ... -0.166667 -0.750000
            8.03     1.002475e+09   38.154167  ... -4.333333 -6.750000
            8.04     1.002495e+09   32.325000  ...  1.250000 -4.416667
            8.05     1.002520e+09   37.178788  ...  1.424242  1.484848
...                           ...         ...  ...       ...       ...
paiN Gaming 9.11     1.138234e+06   35.454167  ...  2.416667 -1.666667
            9.12     1.091141e+06   36.625000  ...  2.666667  3.666667
            9.13     1.123573e+06   35.527778  ...  2.555556  1.611111
            9.14     1.155081e+06   34.361111  ...  2.444444 -2.666667
            9.15     1.102055e+06   27.050000  ... -4.666667 -9.333333

[2040 rows x 31 columns]

In [26]:
# Making the 'team' + 'patchno' into a dataframe
final_df2 = y.drop('gameid', axis=1)

final_df2 = final_df2.groupby(['team', 'patchno']).mean()
final_df2 = final_df2.reset_index()
final_df2.columns = ['team','patchno',
       'gamelength', 'result', 'teamkills', 'teamdeaths',
       'fdtime', 'teamdragkills', 'oppdragkills', 'elders', 'oppelders', 'ft',
       'fttime', 'firstmidouter', 'teamtowerkills',
       'opptowerkills', 'fbaron', 'fbarontime', 'teambaronkills',
       'oppbaronkills', 'dmgtochampsperminute', 'wpm', 'wcpm', 'earnedgpm',
       'goldspent', 'gspd', 'cspm', 'gdat10', 'gdat15', 'xpdat10', 'csdat10',
       'csdat15']
print(final_df2.shape)
final_df2.head()

(2040, 32)

          team  patchno  gamelength  ...     xpdat10   csdat10   csdat15
0  100 Thieves     8.01   46.612500  ...  -83.500000 -1.333333  0.916667
1  100 Thieves     8.02   40.370833  ...  189.166667 -0.166667 -0.750000
2  100 Thieves     8.03   38.154167  ...  -91.666667 -4.333333 -6.750000
3  100 Thieves     8.04   32.325000  ...  186.083333  1.250000 -4.416667
4  100 Thieves     8.05   37.178788  ...  111.454545  1.424242  1.484848

[5 rows x 32 columns]

# Fast first model

## Creating train/val/test sets

In [0]:
from sklearn.model_selection import train_test_split

In [30]:
train, test = train_test_split(final_df2, test_size = .20, random_state = 42) # stratify?
train.shape, test.shape

((1632, 32), (408, 32))